      .easyCon{
        width: 500px;
        height: 700px;
        border: 1px solid #ededed;
        overflow: auto;
        background-color: rgb(255, 255, 255);
      }
      .easyCon *{
        margin: 0;
        padding: 0;
        outline: none;
      }

      .lineNumberCon{
        float: left;
        width: 30px;
        min-height: 100%;   
        border-right: 1px solid #ededed;
      }

      .contextEassy{
        padding-left: 30px;
        /*min-width: 100%;*/
        -ms-box-sizing: border-box; 
        box-sizing:border-box;
      }
      .lineNumber,.lineContext{
        line-height: 2;
        font-size: 14px;
        font-family:"微软雅黑","Helvetica Neue",Helvetica,Arial,sans-seri;
        /*height: 25px;*/
      }

      .lineNumber{
        padding:  0px 3px;        
        text-align: right;
        border-bottom: 1px solid #f8f8f8;    
        color: #c0bdbd;    
      }
      .lineContext{
        /*min-height: auto !important;*/
        margin: 0 !important;
        overflow-wrap: break-word;        
        border-bottom: 1px solid #ededed;
        vertical-align: middle;
        padding:  0px 5px ;        
      }